.RenderContent{
    color: #fff;
    width: 100%;
    height: 136vh;
    overflow-x: scroll;
  //  background: #4A235A ;


  background-image: url("./assets/images/background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

   // background: rgb(247,61,63);
   // background: linear-gradient(193deg, rgba(247,61,63,1) 30%, rgba(245,57,166,1) 65%);
    position: absolute;
    left: -105%;
    top: 0;
    transition: .3s all;

}
.renderContentActive{
    left: 0;
    transition: .3s all;

}
.RenderContent::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

.wrapper_content{
   
    overflow: hidden;
    width: 100%;
   
}

.cardsRenderComponent,.renderCurrentData{
min-width: 100%;
padding:  20px;
}
.renderCurrentDataActive{
    transform: translateX(-100%) !important;
}
.items_content{
    transition: .3s all;
    display: flex;
    justify-items: center;
  //  align-items: center;
    transform: translateX(0);
}
.collapseBtnDataCores{
    font-style: none;
    list-style: none;
    color: #ffffff;
    text-decoration: none;
    border-radius: 10px;
    transition: .3s all;
    font-size: 18px;
    font-weight: bold;
    padding: 15px 25px;
        &:hover{
            cursor: pointer;
            transform: translateY(-5px);
            color: #fff;

        }
}



.other_data_cpu{

font-size: 22px;
color: #fff;
display: flex;
justify-content: left;
align-items: center;
padding:  100px 200px;

}

.headline_detail_info{
    color: #fff;
    font-family: 'Sora', sans-serif ;
    font-size: 23px;
}

.wrapper_data_cpu_other{
  
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 3fr));
    grid-gap: 30px;
}

.cpu_img{
    background-image: url("./assets/images/cpu.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100px;
    height: 100px;
  }

.hl_graphics{
    margin: 10px 0 ;
}

.wrapper_card_body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
}
.screen_show{
width: 70%;
    .screen{
        background-color: #273746 ;
        max-width: 45%;
        min-height: 290px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        position: relative;
    }
    .index_screen{
        
        color: #fff;
        border-radius:50%;
        padding: 12px 21px;
        align-items: center;
        border: 1px solid #fff;
        font-size: 20px;
        text-align: center;
    }
}
.currentResX_screen_show{

    position: absolute;
    text-align: center;
    font-size: 20px;
    color: #fff;
    top: 0;
}

.currentResY_screen_show{
    position: absolute;
    right: 17px;
    text-align: right;
    color: #fff;
    font-size: 20px;
}



.data_screen{
    width: 30%;
}

////////GRAPHICS
.wrapper_card_controller{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.data_memory{
    .progress{
        max-width: 50%;
    }
}





