@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300&display=swap");
.dashboard_innner {
  padding: 50px 0;
  display: -ms-grid;
  display: grid;
  grid-gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.dashboardSection {
  padding-bottom: 250px;
}

.wave-card {
  width: 250px;
  height: 300px;
  background-color: #f3f3f3;
  position: relative;
  -webkit-box-shadow: 11px 17px 48px #e5e5e5;
          box-shadow: 11px 17px 48px #e5e5e5;
  border-radius: 10px;
  overflow: hidden;
  -webkit-transition: .3s all;
  transition: .3s all;
}

.wave-card .shape1 {
  background-color: #ffd600;
}

.wave-card .shape2 {
  background-color: #F436BC;
}

.wave-card .shape3 {
  background-color: #EE2D35;
}

.wave-card-shape {
  position: absolute;
  width: 400px;
  height: 400px;
  z-index: 1;
  opacity: 0.6;
  top: -250px;
  left: -100px;
  border-radius: 150px;
  -webkit-animation: rotate 30s linear infinite;
          animation: rotate 30s linear infinite;
}

.wave-card-shape:nth-child(1) {
  top: -245px;
  left: -98px;
  opacity: 0.4;
  z-index: 2;
  -webkit-animation: rotate 25s linear infinite;
          animation: rotate 25s linear infinite;
}

.wave-card-shape:nth-child(2) {
  top: -240px;
  opacity: 0.3;
  z-index: 3;
  -webkit-animation: rotate 32s linear infinite;
          animation: rotate 32s linear infinite;
}

.wave-card-subtitle {
  margin-bottom: 30px;
}

.wave-card:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.wave-card:hover .text__wave_card {
  -webkit-animation: zoomInUp .7s linear forwards;
          animation: zoomInUp .7s linear forwards;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}

.text__wave_card {
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 10;
  font-size: 25px;
  font-weight: bold;
  padding-top: 150px;
  font-family: 'Sora', sans-serif !important;
  -webkit-transition: .2s all;
  transition: .2s all;
}

.zoomInUp {
  -webkit-animation-name: zoomInUp;
  animation-name: zoomInUp;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes zoomInUp {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 1000px, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 1000px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}

@keyframes zoomInUp {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 1000px, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 1000px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}

.RenderContent {
  color: #fff;
  width: 100%;
  height: 136vh;
  overflow-x: scroll;
  background-image: url("./assets/images/background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  left: -105%;
  top: 0;
  -webkit-transition: .3s all;
  transition: .3s all;
}

.renderContentActive {
  left: 0;
  -webkit-transition: .3s all;
  transition: .3s all;
}

.RenderContent::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.wrapper_content {
  overflow: hidden;
  width: 100%;
}

.cardsRenderComponent, .renderCurrentData {
  min-width: 100%;
  padding: 20px;
}

.renderCurrentDataActive {
  -webkit-transform: translateX(-100%) !important;
          transform: translateX(-100%) !important;
}

.items_content {
  -webkit-transition: .3s all;
  transition: .3s all;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.collapseBtnDataCores {
  font-style: none;
  list-style: none;
  color: #ffffff;
  text-decoration: none;
  border-radius: 10px;
  -webkit-transition: .3s all;
  transition: .3s all;
  font-size: 18px;
  font-weight: bold;
  padding: 15px 25px;
}

.collapseBtnDataCores:hover {
  cursor: pointer;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  color: #fff;
}

.other_data_cpu {
  font-size: 22px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 100px 200px;
}

.headline_detail_info {
  color: #fff;
  font-family: 'Sora', sans-serif;
  font-size: 23px;
}

.wrapper_data_cpu_other {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 3fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(250px, 3fr));
  grid-gap: 30px;
}

.cpu_img {
  background-image: url("./assets/images/cpu.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100px;
  height: 100px;
}

.hl_graphics {
  margin: 10px 0;
}

.wrapper_card_body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.screen_show {
  width: 70%;
}

.screen_show .screen {
  background-color: #273746;
  max-width: 45%;
  min-height: 290px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  position: relative;
}

.screen_show .index_screen {
  color: #fff;
  border-radius: 50%;
  padding: 12px 21px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #fff;
  font-size: 20px;
  text-align: center;
}

.currentResX_screen_show {
  position: absolute;
  text-align: center;
  font-size: 20px;
  color: #fff;
  top: 0;
}

.currentResY_screen_show {
  position: absolute;
  right: 17px;
  text-align: right;
  color: #fff;
  font-size: 20px;
}

.data_screen {
  width: 30%;
}

.wrapper_card_controller {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.data_memory .progress {
  max-width: 50%;
}

.render_data_ram {
  padding-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.render_data_ram_text {
  margin-left: 250px;
  font-size: 20px;
}

.render_data_circle_usage_mem {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.rubberBand {
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes rubberBand {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes rubberBand {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.rotateInDownLeft {
  -webkit-animation-name: rotateInDownLeft;
  animation-name: rotateInDownLeft;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes rotateInDownLeft {
  0% {
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
    -webkit-transform: rotate3d(0, 0, 1, -45deg);
    transform: rotate3d(0, 0, 1, -45deg);
    opacity: 0;
  }
  100% {
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}

@keyframes rotateInDownLeft {
  0% {
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
    -webkit-transform: rotate3d(0, 0, 1, -45deg);
    transform: rotate3d(0, 0, 1, -45deg);
    opacity: 0;
  }
  100% {
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}

.zoomInDown {
  -webkit-animation-name: zoomInDown;
  animation-name: zoomInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes zoomInDown {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}

@keyframes zoomInDown {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}

.slideOutLeft {
  -webkit-animation-name: slideOutLeft;
  animation-name: slideOutLeft;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes slideOutLeft {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    visibility: hidden;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

@keyframes slideOutLeft {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    visibility: hidden;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

.zoomInRight {
  -webkit-animation-name: zoomInRight;
  animation-name: zoomInRight;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes zoomInRight {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(-10px, 0, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(-10px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}

@keyframes zoomInRight {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(-10px, 0, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(-10px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}

* {
  font-family: 'Helvetica', 'sans-serif' !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.main_wrapper {
  max-width: 1000px;
  padding: 0 15px;
  margin: 0 auto;
}

body {
  background-image: url("./assets/images/background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 0;
  margin: 0;
}

.wrapper_os_data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 100px 0;
}

.welcome_section {
  widows: 100vw;
}

/* .frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 3px;
  box-shadow: .5rem .5rem 1rem rgba(0, 0, 0, 0.6);
  overflow: hidden;
  background: #413951;
  background: linear-gradient(145deg, #413951 0%, #201c29 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#413951', endColorstr='#201c29',GradientType=0 );
  color: #fff;
  font-family: 'montserrat', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	display: flex;
	justify-content: center;
	align-items: center;
} */
.circle-big {
  position: relative;
  width: 214px;
  height: 214px;
  margin: 30px auto 25px auto;
}

.circle-big svg {
  width: 214px;
  height: 214px;
}

.circle-big .bg {
  fill: none;
  stroke-width: 10px;
  stroke: #fff;
}

.circle-big .progress, .cpu_usage, .memory_usage {
  fill: none;
  stroke-width: 10px;
  stroke: #EE2D35;
  stroke-linecap: round;
  stroke-dasharray: 360;
  -webkit-transition: .3s all;
  transition: .3s all;
  stroke-dashoffset: 350;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-animation: big 1.5s ease-in-out;
          animation: big 1.5s ease-in-out;
}

.circle-big .text {
  position: absolute;
  width: 100%;
  top: 80px;
  font-size: 28px;
  text-align: center;
  font-weight: 400;
  line-height: 28px;
  font-size: 20px;
  color: #ffffff;
}

.small {
  font-weight: bold;
  font-size: 14px;
}

.headline_welcome, .headline_dashboard {
  color: #fff;
  padding: 40px 0;
}

.cards-info {
  padding: 50px 0 100px 0;
  min-height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: auto;
}

.cards-info .item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #2C3A47;
  line-height: 24px;
  min-width: 350px;
  border-radius: 10px;
  height: 200px;
  text-align: center;
  background-color: #ddd;
  margin-right: 15px;
  -webkit-transition: .3s all;
  transition: .3s all;
  -webkit-transform: rotateX(0deg) rotateY(0deg);
          transform: rotateX(0deg) rotateY(0deg);
  color: #000;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  overflow: hidden;
}

.cards-info .item .MainLabel {
  position: absolute;
  left: 16px;
  top: 8px;
  font-weight: bold;
  font-size: 25px;
}

.cards-info .item .subLabel {
  margin-top: 30px;
  text-align: left;
}

.cards-info .item .asideLabel {
  text-align: center;
  margin-top: 20px;
}

.cards-info .item .backgrond_anim {
  width: 100%;
  height: 100%;
  background-color: #1d1d1d;
  position: absolute;
  top: -100%;
  -webkit-transition: .3s all;
  transition: .3s all;
}

.cards-info .item:hover {
  cursor: pointer;
}

.cards-info .item:hover .backgrond_anim {
  top: 0;
  z-index: 2;
  -webkit-animation: rotateInDownLeft .5s ease-in forwards;
          animation: rotateInDownLeft .5s ease-in forwards;
}

.cards-info .item:hover .MainLabel {
  -webkit-animation: rotateInDownLeft .5s ease-in forwards;
          animation: rotateInDownLeft .5s ease-in forwards;
}

.cards-info .item:hover .text_item {
  z-index: 3;
  font-family: 'Sora', sans-serif !important;
  color: #e5e5e5;
}

.cards-info .item:hover .subLabel, .cards-info .item:hover .asideLabel, .cards-info .item:hover .images {
  -webkit-animation: zoomInDown 1s  ease-in forwards;
          animation: zoomInDown 1s  ease-in forwards;
}

.cards-info::-webkit-scrollbar {
  width: 0;
}

.text_item {
  font-family: 'Sora', sans-serif !important;
}

.slideOutCardNav {
  -webkit-animation: slideOutLeft .6s  ease-in forwards;
          animation: slideOutLeft .6s  ease-in forwards;
}

.inner_wrapper_weather {
  display: -ms-grid;
  display: grid;
  color: #fff;
  font-weight: bold;
  grid-gap: 0;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: "icon temp descr " ". city city ";
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.inner_wrapper_weather .temp_w {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: temp;
  text-align: center;
}

.inner_wrapper_weather .icon_w {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: icon;
}

.inner_wrapper_weather .descr_w::first-letter {
  text-transform: uppercase;
}

.inner_wrapper_weather .city_w {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: city;
  -ms-flex-item-align: top;
      -ms-grid-row-align: top;
      align-self: top;
  text-align: center;
}

.inner_wrapper_weather .descr_w {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: descr;
}

.cards_data {
  text-align: center;
  display: -ms-grid;
  display: grid;
  grid-row-gap: 20px;
  grid-column-gap: 10px;
  -ms-grid-columns: (223px)[auto-fill];
      grid-template-columns: repeat(auto-fill, 223px);
}

.active-card-system {
  background: #F8463E;
}

.inactive-card-system {
  background: #707B7C;
}

.card-system-all {
  font-size: 23px;
  padding: 110px 0;
  border-radius: 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  font-weight: bold;
  font-family: 'Sora', sans-serif !important;
  -webkit-transition: .3s all;
  transition: .3s all;
}

.card-system-all:hover {
  cursor: pointer;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.card-system-all:hover .label-card-system {
  -webkit-animation: zoomInRight .7s ease-in forwards;
          animation: zoomInRight .7s ease-in forwards;
}

.headline_system_page {
  margin: 20px 0;
  font-size: 25px;
}

.btnBack {
  margin: 20px 0;
}

.fa-reply {
  -webkit-transition: .3s all;
  transition: .3s all;
}

.fa-reply:hover {
  color: #F8463E;
  cursor: pointer;
}

.cpu_data, .card-body {
  color: #000 !important;
}

.content_cores, .content_network {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content_cores, .content_network {
  color: #fff;
  max-width: 80%;
  margin: 20px 0;
}

.content_cores a, .content_network a {
  color: #fff;
}

.BackRenderTempData {
  margin: 10px;
}

.headline_cpu {
  font-family: 'Sora', sans-serif;
  font-weight: bold;
  color: #fff;
  font-size: 20px;
  margin-top: 20px;
}

.cores_cpu {
  width: 70%;
}

.cpu_usage_wrapper {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.wrapper_detail_info {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
/*# sourceMappingURL=index.css.map */